<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ticket.Mapper.ActivityMapper">

    <select id="selectAllActivities" resultType="java.util.Map">
        SELECT DISTINCT
            activity.id,
            activity."name",
            activity.category,
            activity.venue,
            "session".status
        FROM "interviewworks_ticket"."activity" activity
                 INNER JOIN "interviewworks_ticket"."session" "session"
                            ON activity.id = "session".activity_id
                 LEFT JOIN "interviewworks_ticket".seat seat
                           ON activity.id = seat.activity_id
        ORDER BY activity.id
    </select>

    <select id="selectActivityImage" resultType="java.util.Map">
        SELECT image.image_data
        FROM "interviewworks_ticket".activity_image image
        JOIN "interviewworks_ticket".activity activity
            ON activity.activity_uuid = image.activity_uuid
        WHERE activity.id = #{activityId}
    </select>

    <select id="selectOnlyFavoriteActivities" resultType="java.util.Map">
        SELECT activity_id
        FROM interviewworks_ticket.activity_favorite
        WHERE user_email = #{email}
        ORDER BY created_date DESC
    </select>

    <insert id="saveFavoriteActivity">
        INSERT INTO interviewworks_ticket.activity_favorite (user_email, activity_id)
        VALUES (#{email}, #{activity_id})
        ON CONFLICT (user_email, activity_id) DO NOTHING
    </insert>

    <delete id="deleteFavoriteActivity">
        DELETE FROM interviewworks_ticket.activity_favorite
        WHERE user_email = #{email}
          AND activity_id = #{activity_id}
    </delete>

</mapper>
















