<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ticket.Mapper.ActivityMapper">

    <select id="selectAllActivities" resultType="java.util.Map">
        SELECT
            activity.id,
            "session".id as sessionid,
            activity."name",
            activity.category,
            TO_CHAR(TO_DATE("session"."date", 'YYYY/MM/DD'), 'YYYY-MM-DD') as "date",
            '(' ||
            CASE EXTRACT(ISODOW FROM TO_DATE("session"."date", 'YYYY/MM/DD'))
                WHEN 1 THEN '一'
                WHEN 2 THEN '二'
                WHEN 3 THEN '三'
                WHEN 4 THEN '四'
                WHEN 5 THEN '五'
                WHEN 6 THEN '六'
                WHEN 7 THEN '日'
                end || ')' AS dow,
            "session"."time" AS "time",
            activity.venue,
            activity.status,
            activity.price,
            TO_CHAR(TO_DATE("session".salesdate, 'YYYY/MM/DD'), 'YYYY-MM-DD') ||
            ' (' ||
            CASE EXTRACT(ISODOW FROM TO_DATE("session".salesdate, 'YYYY/MM/DD'))
                WHEN 1 THEN '一'
                WHEN 2 THEN '二'
                WHEN 3 THEN '三'
                WHEN 4 THEN '四'
                WHEN 5 THEN '五'
                WHEN 6 THEN '六'
                WHEN 7 THEN '日'
                end || ') ' || "session".salestime AS sales_start,
            activity.description
        FROM
            "interviewworks_ticket"."activity" activity
                INNER JOIN "interviewworks_ticket"."session" "session"
                           ON activity."name" = "session".activity
        ORDER BY activity.id
    </select>

</mapper>
















