<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ticket.Mapper.BookingMapper">

    <select id="selectOnlyActivities" resultType="java.util.Map">
        select distinct
            activity.id,
            '主舞台・' || activity."name" as note,
            TO_CHAR(TO_DATE("session"."date", 'YYYY/MM/DD'), 'YYYY-MM-DD') as "value",
            TO_CHAR(TO_DATE("session"."date", 'YYYY/MM/DD'), 'FMMM"月"FMDD"日"')
                || ' (' ||
            CASE EXTRACT(ISODOW FROM TO_DATE("session"."date", 'YYYY/MM/DD'))
                WHEN 1 THEN '一'
                WHEN 2 THEN '二'
                WHEN 3 THEN '三'
                WHEN 4 THEN '四'
                WHEN 5 THEN '五'
                WHEN 6 THEN '六'
                WHEN 7 THEN '日'
                end || ') ' AS "label"
        FROM "interviewworks_ticket"."activity" activity
                 INNER JOIN "interviewworks_ticket"."session" "session"
                            ON activity.id = "session".activity_id
        where activity.id = #{activity_id}
        ORDER BY activity.id
    </select>

    <select id="selectOnlySession" resultType="java.util.Map">
        select
            "session".id,
            "session"."time" as "value",
            "session"."time" || ' ' ||
            CASE
                WHEN "session"."time"::time BETWEEN '06:00'::time AND '11:59:59'::time THEN '早晨場'
			    WHEN "session"."time"::time BETWEEN '12:00'::time AND '17:59:59'::time THEN '午後場'
			    ELSE '星空場'
            END AS "label",
                "session".capacity as available
        FROM "interviewworks_ticket"."session" "session"
        where "session"."date" = #{date}
        and "session".activity_id = #{activity_id}
        ORDER BY "session"."date"
    </select>

    <select id="selectOnlyTicket" resultType="java.util.Map">
        select
            ticket.orderno,
            ticket.session_id,
            "session".activity_id,
            ticket."name",
            ticket."date",
            ticket."time",
            CASE
                WHEN ticket."time"::time BETWEEN '06:00'::time AND '11:59:59'::time THEN '早晨場'
			    WHEN ticket."time"::time BETWEEN '12:00'::time AND '17:59:59'::time THEN '午後場'
			    ELSE '星空場'
            END AS timename,
            ticket.status
        FROM "interviewworks_ticket".ticket ticket
		         INNER JOIN "interviewworks_ticket"."session" "session"
		            ON ticket.session_id = "session".id
        WHERE ticket.customer = #{customer}
        ORDER BY ticket.orderno desc
    </select>

    <select id="selectOnlyActivitiesPrice" resultType="java.util.Map">
        select
            activity.id,
            activity.price
        FROM "interviewworks_ticket"."activity" activity
        where activity.id = #{activity_id}
    </select>

    <update id="updateSession">
        update "interviewworks_ticket"."session" "session"
        set
            capacity = capacity - 1,
            reserved = reserved + 1
        where "session".id = #{session_id}
          and "session".capacity - "session".reserved - "session".sold >= 1
    </update>

    <select id="selectOnlySessionId" resultType="java.util.Map">
        select
            "session".id,
            "session".capacity - "session".reserved - "session".sold as available
        from "interviewworks_ticket"."session" "session"
        where "session".id = #{session_id}
    </select>

    <select id="selectActivityPrice" resultType="java.math.BigDecimal">
        select price
        from "interviewworks_ticket"."activity"
        where id = #{activity_id}
    </select>

    <select id="saveTicket" resultType="java.lang.String">
        WITH next_order AS (
        INSERT INTO "interviewworks_ticket".ticket_order_sequence
        (
            order_date,
            current_no
        )
        VALUES
            (
                CURRENT_DATE,
                1
            )
        ON CONFLICT (order_date)
            DO UPDATE
                   SET current_no = "interviewworks_ticket".ticket_order_sequence.current_no + 1
                   RETURNING
                   'CT' || TO_CHAR(order_date, 'YYYYMMDD') || LPAD(current_no::TEXT, 3, '0') AS orderno
                )
       INSERT INTO "interviewworks_ticket".ticket
       (
           orderno,
           session_id,
           customer,
           email,
           "name",
           "date",
           "time",
           status,
           quantity,
           price,
           expires_at,
           paid_at,
           cancelled_at
       )
        SELECT
            next_order.orderno,
            #{session_id},
            #{customer},
            #{email},
            #{name},
            #{date},
            #{time},
            #{status},
            1,
            #{price},
            #{expires_at},
            #{paid_at},
            #{cancelled_at}
        FROM next_order
        RETURNING orderno
    </select>

    <update id="cancelSession">
        update "interviewworks_ticket"."session" "session"
        set
            capacity = capacity + 1,
            reserved = reserved - 1
        where "session".id = #{session_id}
          and "session".capacity - "session".reserved - "session".sold >= 1
    </update>

    <update id="cancelTicket">
        update "interviewworks_ticket".ticket ticket
        set
            status = #{status},
            quantity = 0,
            cancelled_at = #{cancelled_at}
        where orderno = #{orderno}
          and customer = #{customer}
          and status in ('PENDING_PAYMENT')
    </update>

    <select id="sessionSalesDate" resultType="java.util.Map">
        select
            "session".id,
            "session".activity_id,
            "session"."date",
            "session"."time",
            "session".salesdate,
            "session".salestime
        from "interviewworks_ticket"."session" "session"
        where "session".id = #{session_id}
          and "session".activity_id = #{activity_id}
          and "session"."date" = #{date}
          and "session"."time" = #{time}
        order by "session"."date" desc
    </select>

    <update id="dopaypriceUpdateSession">
        update "interviewworks_ticket"."session" "session"
        set
            reserved = reserved - 1,
            sold = sold + 1
        where "session".id = #{session_id}
          and "session".capacity - "session".reserved - "session".sold >= 1
    </update>

    <update id="dopaypriceTicket">
        update "interviewworks_ticket".ticket ticket
        set
            status = #{status},
            payprice = price,
            paid_at = #{paid_at}
        where orderno = #{orderno}
          and session_id = #{session_id}
          and customer = #{customer}
          and "date" = #{date}
          and "time" = #{time}
          and status in ('PENDING_PAYMENT')
    </update>

    <select id="selectTicketStatus" resultType="java.lang.String">
        select status
        from "interviewworks_ticket".ticket ticket
        where ticket.orderno = #{orderno}
    </select>

    <update id="updateTicketExpiredAt">
        update "interviewworks_ticket".ticket ticket
        set
            status = #{status},
            cancelled_at = #{cancelled_at}
        where orderno = #{orderno}
          and session_id = #{session_id}
          and customer = #{customer}
          and "date" = #{date}
          and "time" = #{time}
          and status in ('PENDING_PAYMENT')
    </update>

</mapper>
















