<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ticket.Mapper.LoginMapper">

    <insert id="create">
        insert
        into "interviewworks_ticket"."user_data" (account,
                                                  name,
                                                  email,
                                                  phone,
                                                  password,
                                                  birthday,
                                                  permissions)
        values (
                #{account},
                #{name},
                #{email},
                #{phone},
                #{password},
                '',
                'USER'
               )
    </insert>

    <select id="select" resultType="java.util.Map">
        select
            user_data.account,
            user_data."name",
            user_data.email,
            user_data.phone,
            user_data."password",
            user_data.birthday,
            user_data.permissions
        from "interviewworks_ticket"."user_data" user_data
        where account = #{account}
           or email = #{account}
    </select>

    <select id="selectPermissions" resultType="java.lang.String">
        select
            permissions.code
        from "interviewworks_ticket"."user_data" user_data
                 right join "interviewworks_ticket".permissions permissions
                            on
                                user_data.permissions = permissions.description
        where SPLIT_PART(user_data.email, '@', 1) = SPLIT_PART(#{account}, '@', 1)
    </select>

    <update id="save">
        update "interviewworks_ticket"."user_data" ud
        set phone = #{phone},
            birthday = #{birthday}
        where name = #{name}
          and email = #{email}
    </update>

</mapper>